In [1]:
# import tools and csvs
import pandas as pd
import numpy as np

# NOTE: The CDC website wouldn't allow zero values because the dataset would be too big.

df_2005_2006 = pd.read_csv("Raw_CSVs/2005-2006.csv")
df_2007_2008 = pd.read_csv("Raw_CSVs/2007-2008.csv")
df_2009_2010 = pd.read_csv("Raw_CSVs/2009-2010.csv")
df_2011_2012 = pd.read_csv("Raw_CSVs/2011-2012.csv")
df_2013_2014 = pd.read_csv("Raw_CSVs/2013-2014.csv")
df_2015_2016 = pd.read_csv("Raw_CSVs/2015-2016.csv")
df_2017_2018 = pd.read_csv("Raw_CSVs/2017-2018.csv")

In [2]:
# remove null values and Notes column from each data set.
df_2005_2006 = df_2005_2006[df_2005_2006['Year'].notnull()]
df_2005_2006 = df_2005_2006.drop(columns=['Notes'])
df_2005_2006.head()

,Year,Year Code,ICD Sub-Chapter,ICD Sub-Chapter Code,HHS Region,HHS Region Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2005.0,2005.0,Intestinal infectious diseases,A00-A09,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,55-64 years,55-64,Female,F,10.0,806721.0,Unreliable
1,2005.0,2005.0,Intestinal infectious diseases,A00-A09,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,65-74 years,65-74,Female,F,37.0,496810.0,7.4
2,2005.0,2005.0,Intestinal infectious diseases,A00-A09,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,65-74 years,65-74,Male,M,35.0,419268.0,8.3
3,2005.0,2005.0,Intestinal infectious diseases,A00-A09,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,75-84 years,75-84,Female,F,110.0,423068.0,26
4,2005.0,2005.0,Intestinal infectious diseases,A00-A09,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,75-84 years,75-84,Male,M,87.0,280970.0,31

In [3]:
df_2007_2008 = df_2007_2008[df_2007_2008['Year'].notnull()]
df_2007_2008 = df_2007_2008.drop(columns=['Notes'])
df_2007_2008.head()

,Year,Year Code,HHS Region,HHS Region Code,ICD Sub-Chapter,ICD Sub-Chapter Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2007.0,2007.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Male,M,13.0,810367.0,Unreliable
1,2007.0,2007.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Female,F,45.0,508627.0,8.8
2,2007.0,2007.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Male,M,39.0,433649.0,9
3,2007.0,2007.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,75-84 years,75-84,Female,F,117.0,413509.0,28.3
4,2007.0,2007.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,75-84 years,75-84,Male,M,105.0,280748.0,37.4

In [4]:
df_2009_2010 = df_2009_2010[df_2009_2010['Year'].notnull()]
df_2009_2010 = df_2009_2010.drop(columns=['Notes'])
df_2009_2010.head()

,Year,Year Code,HHS Region,HHS Region Code,ICD Sub-Chapter,ICD Sub-Chapter Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2009.0,2009.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Female,F,17.0,922446.0,Unreliable
1,2009.0,2009.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Male,M,11.0,862125.0,Unreliable
2,2009.0,2009.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Female,F,42.0,547715.0,7.7
3,2009.0,2009.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Male,M,46.0,472452.0,9.7
4,2009.0,2009.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,75-84 years,75-84,Female,F,167.0,399793.0,41.8

In [5]:
df_2011_2012 = df_2011_2012[df_2011_2012['Year'].notnull()]
df_2011_2012 = df_2011_2012.drop(columns=['Notes'])
df_2011_2012.head()

,Year,Year Code,HHS Region,HHS Region Code,ICD Sub-Chapter,ICD Sub-Chapter Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2011.0,2011.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Female,F,21.0,989633.0,2.1
1,2011.0,2011.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Male,M,28.0,925277.0,3
2,2011.0,2011.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Female,F,49.0,579185.0,8.5
3,2011.0,2011.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Male,M,45.0,504147.0,8.9
4,2011.0,2011.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,75-84 years,75-84,Female,F,159.0,390679.0,40.7

In [6]:
df_2013_2014 = df_2013_2014[df_2013_2014['Year'].notnull()]
df_2013_2014 = df_2013_2014.drop(columns=['Notes'])
df_2013_2014.head()

,Year,Year Code,HHS Region,HHS Region Code,ICD Sub-Chapter,ICD Sub-Chapter Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2013.0,2013.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Female,F,21.0,1021812.0,2.1
1,2013.0,2013.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Male,M,22.0,955289.0,2.3
2,2013.0,2013.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Female,F,57.0,652705.0,8.7
3,2013.0,2013.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Male,M,35.0,575486.0,6.1
4,2013.0,2013.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,75-84 years,75-84,Female,F,126.0,384653.0,32.8

In [7]:
df_2015_2016 = df_2015_2016[df_2015_2016['Year'].notnull()]
df_2015_2016 = df_2015_2016.drop(columns=['Notes'])
df_2015_2016.head()

,Year,Year Code,HHS Region,HHS Region Code,ICD Sub-Chapter,ICD Sub-Chapter Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2015.0,2015.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,45-54 years,45-54,Male,M,14.0,1050488.0,Unreliable
1,2015.0,2015.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Female,F,32.0,1061729.0,3
2,2015.0,2015.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Male,M,24.0,992105.0,2.4
3,2015.0,2015.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Female,F,56.0,710316.0,7.9
4,2015.0,2015.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Male,M,45.0,627566.0,7.2

In [8]:
df_2017_2018 = df_2017_2018[df_2017_2018['Year'].notnull()]
df_2017_2018 = df_2017_2018.drop(columns=['Notes'])
df_2017_2018.head()

,Year,Year Code,HHS Region,HHS Region Code,ICD Sub-Chapter,ICD Sub-Chapter Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2017.0,2017.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Female,F,21.0,1090298.0,1.9
1,2017.0,2017.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,55-64 years,55-64,Male,M,20.0,1017796.0,2
2,2017.0,2017.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Female,F,40.0,768048.0,5.2
3,2017.0,2017.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,65-74 years,65-74,Male,M,31.0,678293.0,4.6
4,2017.0,2017.0,"HHS Region #1 CT, ME, MA, NH, RI, VT",HHS1,Intestinal infectious diseases,A00-A09,75-84 years,75-84,Female,F,78.0,400999.0,19.5

In [9]:
# Export dataframes to csvs
df_2005_2006.to_csv('Clean_CSVs/clean_2005-2006.csv', index=False)
df_2007_2008.to_csv('Clean_CSVs/clean_2007_2008.csv', index=False)
df_2009_2010.to_csv('Clean_CSVs/clean_2009-2010.csv', index=False)
df_2011_2012.to_csv('Clean_CSVs/clean_2011-2012.csv', index=False)
df_2013_2014.to_csv('Clean_CSVs/clean_2013-2014.csv', index=False)
df_2015_2016.to_csv('Clean_CSVs/clean_2015-2016.csv', index=False)
df_2017_2018.to_csv('Clean_CSVs/clean_2017-2018.csv', index=False)